<div class="menu" id="menu">
    <div class="menu__content">
        <div class="menu__header">
            <div class="menu__logo">
                {{Icon iconName="logo-black"}}
            </div>
            <button class="menu__close" id="menu-close">
                {{Icon iconName="close"}}
            </button>
        </div>
        <nav class="menu__nav" id="menu-nav">
            <div>
                <a href="#wait">О мероприятии</a>
                {{ Icon iconName="item-menu"}}
            </div>
            <div>
                <a href="#play">Программа</a>
                {{ Icon iconName="item-menu"}}
            </div>
            <div>
                <a href="#place">Как добраться</a>
                {{ Icon iconName="item-menu"}}
            </div>
            <div>
                <a href="#partners">Партнёры</a>
                {{ Icon iconName="item-menu"}}
            </div>
            <div>
                <a href="#contacts">Контакты</a>
                {{ Icon iconName="item-menu"}}
            </div>
            <div>
                <a href="#rules" class="rules-show">Правила посещения</a>
                {{ Icon iconName="item-menu"}}
            </div>
        </nav>
    </div>
    <button class="btn btn_black menu__btn">Получить билет</button>
</div>