:root {
    --white: #ffffff;
    --black: #000000;
    --black-rgb: 0, 0, 0;
    --green: #278d75;
    --green-dark: #074739;
    --red: #a10d15;
    --yellow-white: #fDf5d4;
    --blue: #0077FF;
    --blue-light: #5EB5F7;
    --orange: #F37022;
}