<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__social">
                <div class="footer__logo">
                    {{Icon iconName="logo"}}
                </div>
                <ul class="footer__list">
                    <li>
                        <a class="footer__link footer__link_tg" href="https://t.me/skolkovolive" target="_blank">
                            {{Icon iconName="tg"}}
                        </a>
                    </li>
                    <li>
                        <a class="footer__link footer__link_vk" href="https://vk.com/fondskolkovo?ysclid=m49nqdt4yf332098740" target="_blank">
                            {{Icon iconName="vk"}}
                        </a>
                    </li>
                    <li>
                        <a class="footer__link footer__link_od" href="https://ok.ru/group/57274038943796?ysclid=m49nr60hl6625103100" target="_blank">
                            {{Icon iconName="od"}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__docs">
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Пользовательское соглашение</a>
            </div>

            <div class="footer__btn btn">
                Получить билет
                {{Icon iconName="gift-btn"}}
            </div>
        </div>
    </div>
</footer>