<div class="popup" id="popup">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__block">
                <h2>Анимационная программа</h2>
                <div class="popup__text">
                    <p>Анимационная программа строится вокруг тайных помощников Деда Мороза.</p>
                    <p>Эльфы ежегодно готовят город к празднику: украшают улицы, создают праздничное настроение, подготовив зрелищно-развлекательную программу, упаковывают подарки, готовят сладкие угощения на мастер-классах. Все это скрыто от глаз горожан, но в наступающем году восемь эльфов случайно раскрывают свои личности.</p>
                    <p>Они приглашают гостей елки повеселиться вместе, а также узнать больше о науке.</p>
                    <p>В завершение анимационной программы, эльфы и гости праздника встречают Деда Мороза, который дарит бесценный подарок: ожившую сказку о «Снежной королеве».</p>   
                </div>
            </div>
            <div class="popup__block">
                <h2>Зрелищно-развлекательная программа</h2>
                <div class="popup__list">
                    <li>
                        <div class="popup__svg">
                            {{Icon iconName="item"}}
                        </div>
                        <div class="popup__text">
                            <p>Шоу мыльных пузырей — это не только красивое зрелище, но и научно-познавательная программа. Артист в игровом формате познакомит детей с химическими и физическими свойствами мыльного пузыря и расскажет, почему мыльные пузыри держат форму.</p>
                        </div>
                    </li>
                    <li>
                        <div class="popup__svg">
                            {{Icon iconName="item"}}
                        </div>
                        <div class="popup__text">
                            <p>Гимнастический номер «Кристалл науки» — номер со световым и музыкальным сопровождением представляет собой выступление гимнастки на сконструированной в форме кристалла вращающейся платформе. Гимнастический номер  познакомит детей с уникальными физическими свойствами организма.</p>
                            <p>Зрелищная форма поможет привлечь внимание детей к здоровому образу жизни и грамотному подходу к большим физическим нагрузкам.</p>
                        </div>
                    </li>
                </div>
            </div>
            <div class="popup__block">
                <h2>Аквагрим</h2>
                <div class="popup__text">
                    <p>Это возможность дополнить свой праздничный образ яркими элементами грима и визажа. Наши мастера с радостью создадут понравившиеся рисунки на лице юных гостей.</p>
                </div>
            </div>
            <div class="popup__block">
                <h2>Мастер-классы</h2>
                <div class="popup__list">
                    <li>
                        <div class="popup__svg">
                            {{Icon iconName="item"}}
                        </div>
                        <div class="popup__text">
                            <p>«Бомбочки для ванны»: увлекательный процесс соединения соды, ароматических отдушек и щепотку обыкновенного волшебства. Мастера покажут и расскажут, как сделать своими руками эти замечательные изделия. Полученные бомбочки не отличить от тех, которые можно увидеть на прилавках магазинов, а их уникальный аромат, который вы подберете сами, сделает водные процедуры чем-то незабываемым. Мастер-класс придется по душе как детям, так и взрослым.</p>
                        </div>
                    </li>
                    <li>
                        <div class="popup__svg">
                            {{Icon iconName="item"}}
                        </div>
                        <div class="popup__text">
                            <p>«Леденцы из изомальта»: новый и интересный способ, который обязательно понравится и детям, и взрослым. Опытные мастера помогут каждому участнику приготовить свой собственный леденец.</p>
                            <p>Мы растапливаем изомальт до определенной температуры, используя ложку и выливая массу на силиконовый коврик. По желанию можно добавить краситель и украсить леденец различными кондитерскими посыпками. Кроме того, при приготовлении таких леденцов можно использовать сахарную бумагу, на которой заранее напечатан логотип компании или любая картинка. Это делает мастер-класс еще более интересным и оригинальным.</p>
                        </div>
                    </li>
                    <li>
                        <div class="popup__svg">
                            {{Icon iconName="item"}}
                        </div>
                        <div class="popup__text">
                            <p>«Декорирование деревянной ёлки»: ёлка — это то дерево, без которого немыслимо представить празднование Нового Года и Рождества. С абсолютной уверенность можно сказать, что обилие миниатюр этого вечнозеленого дерева в интерьере дома или офиса принесет то самое чувство радости и веселья, которое так дорого нашим сердцам и знакомо с детства. На выездном мастер-классе по декору деревянных мини-ёлок вы и ваши гости смогут дать волю фантазии и оформить ёлку на свой вкус.</p>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <button class="popup__close" id="popup-close">
            {{ Icon iconName="close" }}
        </button>
    </div>
</div>