.play {
    display: flex;
    padding-top: 105px;
}

.play__wrapper {
    display: flex;
    z-index: 5;
    position: relative;
}

.play__img {
    width: 680px;
    height: 680px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    right: 212px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
    }
}

.play__kazan {
    margin-top: 26px;
    display: flex;
    align-items: center;

    &.play__kazan_mobile {
        display: none;
    }

    span {
        margin-left: 12px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 32px;
    }
}

.play__control {
    margin-top: 40px;

    &.play__control_mobile {
        display: none;
    }
}

.play__show {
    position: relative;
    bottom: 100px;

    h2 {
        display: none;
    }
}

.play__info {
    h2 {
        line-height: 82px;
    }

    h4 {
        font-family: 'Zangezi';
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 32px;
        font-stretch: condensed;
    }
}

.play__sub {
    font-family: 'Zangezi';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    font-stretch: condensed;
}

.play__content {
    margin-top: 34px;

    p {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 24px;

        &:not(:first-of-type) {
            margin-top: 12px;
        }
    }
}

.play__date {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;


    &::after {
        content: '';
        width: 48px;
        height: 48px;
        left: -58px;
        top: -18px;
        background: no-repeat center/cover url(%=static=%general/timelist.svg);
        position: absolute;
    }
}

.play__date-block {
    width: 48.2%;
}

.play__timetable {
    display: flex;
    gap: 24px;
    margin-top: 12px;
}

.play__timetable-block {
    &:first-of-type {
        li {
            background: var(--green-dark);
        }
    }

    &:last-of-type {
        li {
            padding: 6px 8px;
            background: var(--red);
        }
    }

    span {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 17px;
    }
}

.play__list {
    li {
        width: max-content;
        padding: 6px 12px;
        border-radius: 12px;
        margin-top: 12px;
        font-family: Manrope;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 32px;
    }
}

@media (max-width: 1365px) {
    .play__show {
        bottom: auto;
    }

    .play__img {
        margin: 0 auto;
        right: auto;
    }
    .play__wrapper {
        display: flex;
        flex-direction: column;
    }

    .play__info {
        margin-top: 50px;
    }
}

@media (max-width: 1365px) {
    .play__img {
        width: 420px;
        height: 420px;
    } 
}

@media (max-width: 767px) {
    .play {
        padding-top: 46px;

        .garland {
            display: none;
        }
    }

    .play__show {
        h2 {
            display: block;
            margin-bottom: 16px;
        }
    }

    .play__img {
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    .play__info {
        margin-top: 48px;

        h2,
        h3 {
            display: none;
        }
    }

    .play__content {
        margin: 0;
        
        p {
            font-size: 0.875rem;
            line-height: 22px;
        }
    }

    .play__kazan {
        display: none;
        margin-top: 32px;

        svg {
            width: 36px;
            height: 36px;
        }

        span {
            font-size: 1rem;
            line-height: 22px;
        }

        &.play__kazan_mobile {
            display: flex;
        }
    }

    .play__control {
        display: none;
        justify-content: center;
        margin-top: 43px;

        .btn {
            width: 88%;
        }

        &.play__control_mobile {
            display: flex;
        }
    }

    .play__date {
        margin-top: 40px;
        flex-direction: column;
    }

    .play__date-block {
        width: auto;

        &:not(:first-of-type) {
            margin-top: 40px;
        }
    }
    .play__timetable {
        margin-top: 10px;
    }
    .play__list {
        li {
            font-size: 1.125rem;
            line-height: 24px;
        }
    }

}

