<section class="play" id="play">
    <div class="container">
        <div class="play__wrapper">
            <div class="play__show">
                <h2 class="title">Школа Снежной Королевы</h2>
                <div class="play__img">
                    <img src="%=static=%img/general/show.jpg" alt="Кадры спектакля Школа Снежной Королевы">
                </div>
                <div class="play__kazan">
                    {{Icon iconName="point"}}
                    <span>3-й этаж, Зал «Казан»</span>
                </div>
                <div class="play__control">
                    <button class="btn">Получить билет</button>
                </div>
            </div>
            <div class="play__info">
                <h2 class="title">СПЕКТАКЛЬ <br>Школа Снежной Королевы</h2>
                <div class="play__content">
                    <p>
                        В преддверии Нового года юные зрители снова окунутся в новогоднюю сказку, которая расскажет о повзрослевших Кае и Герде. С момента похищения Кая Снежной королевой минуло много лет, но кто сказал, что история не может повториться?
                    </p>
                    <p>
                        Снежная королева решила открыть «Ледяную школу», воспитанники которой будут учиться ледяной учтивости, замораживающим взглядам, холодному отношению к чужой беде. А к концу обучения у всех  выпускников сердца превратятся в кусок льда. Кто же станет первым учеником? Конечно, только один мальчик. 
                    </p>
                    <p>
                        Успеет ли Герда вновь прийти на помощь Каю?
                    </p>
                    <p>
                        Вас ждет музыкальный спектакль, в котором много танцев и песен, более 100 красочных костюмов, множество смен ярких декораций, трюки и спецэффекты.                          
                    </p>
                    <p>
                        Специально для спектакля была написана оригинальная музыка.
                    </p>
                </div>
                <div class="play__date">
                    <div class="play__date-block">
                        <h4>19 декабря</h4>
                        <div class="play__timetable">
                            <div class="play__timetable-block">
                                <span>Начало<br>спектакля</span>
                                <ul class="play__list">
                                    <li>15:00</li>
                                    <li>18:00</li>
                                </ul>
                            </div>
                            <div class="play__timetable-block">
                                <span>Начало развлекательной<br>программы</span>
                                <ul class="play__list">
                                    <li>13:45</li>
                                    <li>16:45</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="play__date-block">
                        <h4>20 и 21 декабря</h4>
                        <div class="play__timetable">
                            <div class="play__timetable-block">
                                <span>Начало<br>спектакля</span>
                                <ul class="play__list">
                                    <li>12:00</li>
                                    <li>15:00</li>
                                    <li>18:00</li>
                                </ul>
                            </div>
                            <div class="play__timetable-block">
                                <span>Начало развлекательной<br>программы</span>
                                <ul class="play__list">
                                    <li>10:45</li>
                                    <li>13:45</li>
                                    <li>16:45</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="play__kazan play__kazan_mobile">
                    {{Icon iconName="point"}}
                    <span>Балкон 3-го этажа, зал «Казан»</span>
                </div>
                <div class="play__control play__control_mobile">
                    <button class="btn">Получить билет</button>
                </div>
            </div>
        </div>
    </div>
</section>