<section class="hero" >
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__title">
                <h1>Сколково:<br>Время чудес,<br>и инноваций</h1>
                <h2>Новый год в Сколково для юных инноваторов и их родителей</h2>
                <div class="hero__sk">
                    {{Icon iconName="point"}}
                    <span>Технопарк «Сколково»</span>
                </div>
            </div>
            <div class="hero__info">
                <ul class="hero__list">
                    <li>
                        <span>19</span>
                        <span>декабря</span>
                    </li>
                    <li>
                        <span>20</span>
                        <span>декабря</span>
                    </li>
                    <li>
                        <span>21</span>
                        <span>декабря</span>
                    </li>
                </ul>
                <div class="hero__info-bottom">
                    <div class="hero__buy">
                        <div class="hero__control">
                            <button class="hero__btn">Получить билет</button>
                            {{Icon iconName="giff"}}
                        </div>
                        <div class="hero__note">*При посещении</div>
                    </div>
                    <div class="hero__sk hero__sk_mobile">
                        {{Icon iconName="point"}}
                        <span>Технопарк «Сколково»</span>
                    </div>
                    <div class="hero__age">3+</div>
                </div>
            </div>

        </div>
        {{> garland/garland }}
        {{> garland/garland }}
    </div>
</section>