.garland {
    position: absolute;
    width: 860px;
    height: 206px;
}

.lamp-1 {
    animation: 6s lamp-1  infinite;
}

.lamp-2 {
    animation: 6s lamp-2 infinite;
}

.lamp-3 {
    animation: 6s lamp-3 infinite;
}
.lamp-4 {
    animation: 6s lamp-4  infinite;
}

.lamp-5 {
    animation: 6s lamp-5 infinite;
}

.lamp-6 {
    animation: 6s lamp-6 infinite;
}

.lamp-7 {
    animation: 6s lamp-7  infinite;
}

.lamp-8 {
    animation: 6s lamp-8 infinite;
}


@keyframes lamp-1 {
    0% {
        fill: #A10D15;
    }

    25% {
        fill: #FF866A;
    }

    50% {
        fill: #C9353D;
    }

    75% {
        fill: #FF866A;
    }

    100% {
        fill: #A10D15;
    }
}

@keyframes lamp-2 {
    0% {
        fill: #E9DBBC;
    }

    25% {
        fill: #FDF5D4;
    }

    50% {
        fill: #E9DBBC;
    }

    75% {
        fill: #FDF5D4;
    }

    100% {
        fill: #E9DBBC;
    }
}

@keyframes lamp-3 {
    0% {
        fill: #074739;
    }

    25% {
        fill: #074739;
    }

    50% {
        fill: #31B797;
    }

    75% {
        fill: #074739;
    }

    100% {
        fill: #074739;
    }
}

@keyframes lamp-4 {
    0% {
        fill: #E9DBBC;
    }

    25% {
        fill: #E9DBBC;
    }

    50% {
        fill: #E9DBBC;
    }

    75% {
        fill: #FDF5D4;
    }

    100% {
        fill: #E9DBBC;
    }
}

@keyframes lamp-5 {
    0% {
        fill: #A10D15;
    }

    25% {
        fill: #A10D15;
    }

    50% {
        fill: #FF866A;
    }

    75% {
        fill: #A10D15;
    }

    100% {
        fill: #A10D15;
    }
}

@keyframes lamp-6 {
    0% {
        fill: #074739;
    }

    25% {
        fill: #31B797;
    }

    50% {
        fill: #074739;
    }

    75% {
        fill: #31B797;
    }

    100% {
        fill: #074739;
    }
}

@keyframes lamp-7 {
    0% {
        fill: #E9DBBC;
    }

    25% {
        fill: #FDF5D4;
    }

    50% {
        fill: #E9DBBC;
    }

    75% {
        fill: #E9DBBC;
    }

    100% {
        fill: #E9DBBC;
    }
}

@keyframes lamp-8 {
    0% {
        fill: #A10D15;
    }

    25% {
        fill: #C9353D;
    }

    50% {
        fill: #A10D15;
    }

    75% {
        fill: #FF866A;
    }

    100% {
        fill: #A10D15;
    }
}


@media (max-width: 1365px) {
    .garland {
        width: 600px;

        svg {
            width: 600px;
            height: 200px;
        }
    }
}

@media (max-width: 767px) {
    .garland {
        width: 383px;
        height: 130px;
        
        svg {
            width: 100%;
            height: 100%;
        }
    }
}