.place {
    display: flex;
    padding-top: 160px;
}

.place__wrapper {
    display: flex;
    justify-content: space-between;
    height: 745px;
    position: relative;
    z-index: 5;
}

.place__address {
    background: no-repeat left bottom url(%=static=%general/tree.svg);
}

.place__sk {
    margin-top: 64px;
    display: flex;
    align-items: center;

    span {
        margin-left: 12px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 32px;
    }
}

.place__wrap {
    display: none;
}

.place__btn {
    margin-top: 66px;

    &.place__btn_mobile {
        display: none;
    }
}

.place__map {
    display: flex;
    align-items: center;
    position: relative;
    left: 10px;
    top: 25px;
}

.place__map-wrap {
    height: 560px;
    width: 953px;
    border-radius: 24px;
    border: 10px solid var(--green-dark);
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
    }
}

@media (max-width: 1365px) {
    .place__wrapper {
        flex-direction: column;
        height: auto;
    }

    .place__address {
        background-position: right bottom;
    }

    .place__map {
        margin-top: 50px;
        position: static;
    }

    .place__map-wrap {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .place {
        padding-top: 65px;
    }

    .place__wrapper {
        height: auto;
    }

    .place__address {
        background: none;
    }

    .place__sk {
        margin-top: 30px;

        svg {
            flex-shrink: 0;
        }

        span {
            font-size: 1rem;
            line-height: 22px;
        }

        br {
            display: none;
        }

        .place__wrap {
            display: block;
        }
    }

    .place__map {
        margin: 16px -20px 0;
    }
    
    .place__map-wrap {
        width: 100%;
        border: none;
        height: 400px;
        border-radius: 0;
    }

    .place__btn {
        display: none;
        margin: 0;
        margin-top: 14px;
        
        &.place__btn_mobile {
            display: block;
        }
    }
}
