<section class="place" id="place">
    <div class="container">
        <div class="place__wrapper">
            <div class="place__address">
                <h2 class="title">Место проведения</h2>
                <div class="place__sk">
                    {{Icon iconName="point"}}
                    <span>Технопарк «Сколково», г. Москва,<br>Большой Бульвар, д. 42, с. 1</span>
                </div>
                <button class="btn place__btn">Как добраться?</button>
            </div>
            <div class="place__map">
                <div class="place__map-wrap">
                    <img src="%=static=%img/general/map.png" alt="Карта">
                </div>
            </div>
            <button class="btn place__btn place__btn_mobile">Как добраться?</button>
        </div>

        {{> garland/garland }}
    </div>
</section>