<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__logo">
                {{Icon iconName="logo"}}
            </div>
            <nav class="header__nav" id="nav">
                <a href="#wait">О мероприятии</a>
                <a href="#play">Программа</a>
                <a href="#place">Как добраться</a>
                <a href="#partners">Партнёры</a>
                <a href="#contacts">Контакты</a>
                <a href="#rules" class="rules-show">Правила посещения</a>
            </nav>
            <button class="btn header__btn">Получить билет</button>
            <button class="header__burger" id="menu-open">
                {{Icon iconName="burger"}}
            </button>
        </div>
    </div>
</header>