.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 30px;
    backdrop-filter: blur(24px);
    z-index: 10;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: 56px;
    padding-bottom: 30px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid var(--white);

    a {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 32px;
        color: var(--white);

        &:hover,
        &:focus {
            color: var(--green-dark);
        }
    }
}

.header__btn {
    margin-bottom: 18px;
}

.header__burger {
    display: none;
}

@media (max-width: 1365px) {
    .header__nav {
        a {
            font-size: 1.125rem;
        }
    }
}

@media (max-width: 1023px) {
    .header__wrapper {
        align-items: center;
    }

    .header__burger {
        display: block;
    }

    .header__nav,
    .header__btn {
        display: none;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 16px 0;
    }
    .header__logo {
        svg {
            width: 48px;
            height: 48px;
        }
    }
}