<section class="rules" id="rules">
    <div class="container">
        <div class="rules__wrapper">
            <h1 class="title">Правила посещения</h1>
             <div class="rules__content">
                <div class="rules__block">
                    <ul class="rules__list">
                        <li>Билет действителен на одного посетителя.</li>
                        <li>Билет на мероприятие возврату не подлежит.</li>
                        <li> Дети до 4 лет во время спектакля должны находится на руках у родителей во время спектакля.</li>
                        <li>Допуск зрителей в концертный зал начинается за 15 минут до времени начала спектакля, указанного на билете.</li>
                        <li>Для прохода на мероприятие необходимо предъявить билет  с уникальным штрих-кодом.</li>
                        <li>ВНИМАНИЕ Каждый штрихкод, размещенный на билете, ‘индивидуален. Не копируйте, не сканируйте, не фотографируйте и не выкладывайте фото/скан Вашего билета в сети «Интернет». Помните, что мошенники могут воспользоваться Вашим штрихкодом! Риск непосещения в связи с копированием другим лицом штрихкода, размещенного на билете, лежит на посетителе.</li>
                        <li>Сохранять билет до конца мероприятия, администратор может запросить билет.</li>
                        <li>«Средства мобильный связи на время мероприятия необходимо отключить или перевести в беззвучный режим.</li>
                        <li>После окончания мероприятия гардероб работает в течение 45 минут.</li>
                        <li>По вопросу утерянных вещей обращайтесь в зону гардероба в следующие временные промежутки: 12:00 - 13:00, 15:00 – 16:00, 18:00 – 19:00.</li>
                    </ul>
                </div>
                <div class="rules__block">
                    <div class="rules__info">
                        <div class="rules__icon">
                            {{Icon iconName="camera"}}
                        </div>
                        <p>На мероприятии может осуществляться фото- и видеосъемка. Обнародование и дальнейшее использование изображения зрителя правомерно на основании пп. 2 п.1 ст.152.1. Гражданского кодекса Российской Федерации, за исключение случаев, когда такое изображение является основным объектом.</p>
                    </div>
                    <ul class="rules__list">
                        <li>Курение запрещено;</li>
                        <li>Проходить с животными запрещено;</li>
                        <li>Находится в состоянии алкогольного, наркотического или токсического опьянения запрещено;</li>
                        <li>Проносить на площадку мероприятия любые виды оружия (огнестрельное, холодное, газовое и т.п.), боеприпасов, специальных средств (газовые баллончики, электрошоковые устройства, искровые разрядники и т.д.), легковоспламеняющихся веществ и пиротехники запрещено;</li>
                        <li>Входить в концертный зал в верхней одежде или проносить ее в зрительный зал запрещено;</li>
                        <li>Проносить в концертный зал крупногабаритные предметы запрещено;</li>
                        <li>Входить в концертный зал с напитками и едой запрещено;</li>
                        <li>Брать в руки, открывать, сдвигать с места подозрительные предметы запрещено. В случае их обнаружения необходимо немедленно сообщить об этом сотруднику охраны или администрации.</li>
                    </ul>
                </div>
             </div>
        </div>
    </div>
</section>