<section class="rules" id="rules">
    <div class="container">
        <div class="rules__wrapper">
            <h2 class="title">Правила посещения</h2>
             <div class="rules__content">
                <div class="rules__block">
                    <ul class="rules__list">
                        <li>Билет действителен на одно лицо. Администрация имеет право на входе потребовать документ, удостоверяющий возраст ребенка.</li>
                        <li>Интерактивная программа в фойе начинается за 1 час 15 мин до времени начала спектакля, указанного на билете.</li>
                        <li>Допуск зрителей в концертный зал начинается за 15 мин до времени начала спектакля, указанного на билете.</li>
                        <li>Для прохода на мероприятие необходимо предъявить билетеру на входе ЭБ с уникальным штрих кодом. ВНИМАНИЕ! Каждый штрихкод, размещенный на билете, индивидуален. Не копируйте, не сканируйте, не фотографируйте и не выкладывайте фото/скан Вашего билета в сети «Интернет». Помните, что мошенники могут воспользоваться Вашим штpиx кодом! Риск непосещения в связи с копированием другим лицом штрихкода, размещенного на билете, лежит на посетителе.</li>
                        <li>Сохраняйте билет до конца мероприятия и предъявляйте его по требованию администратора.</li>
                        <li>Средства мобильной связи на время мероприятия необxодимо отключить или перевести в беззвучный режим.</li>
                        <li>После окончания мероприятия гардероб работает в течение 45 минут.</li>
                        <li>В случае утери вещей необходимо связаться с администрацией по телефону:<br> +7 (915) 356-90-51, забытые вещи хранятся 7 дней.</li>
                        <li>Билет не подлежит обмену или возврату.</li>
                    </ul>
                </div>
                <div class="rules__block">
                    <div class="rules__info">
                        <div class="rules__icon">
                            {{Icon iconName="camera"}}
                        </div>
                        <p>На мероприятии может осуществляться фото- и видеосъемка. Обнародование и дальнейшее использование изображения зрителя правомерно на основании пп. 2 п.1 ст.152.1. Гражданского кодекса Российской Федерации, за исключение случаев, когда такое изображение является основным объектом.</p>
                    </div>
                    <ul class="rules__list">
                        <li>Курение запрещено;</li>
                        <li>Проходить с животными запрещено;</li>
                        <li>Находится в состоянии алкогольного, наркотического или токсического опьянения запрещено;</li>
                        <li>Проносить на площадку мероприятия любые виды оружия (огнестрельное, холодное, газовое и т.п.), боеприпасов, специальных средств (газовые баллончики, электрошоковые устройства, искровые разрядники и т.д.), легковоспламеняющихся веществ и пиротехники запрещено;</li>
                        <li>Входить в концертный зал в верхней одежде или проносить ее в зрительный зал запрещено;</li>
                        <li>Проносить в концертный зал крупногабаритные предметы запрещено;</li>
                        <li>Входить в концертный зал с напитками и едой запрещено;</li>
                        <li>Брать в руки, открывать, сдвигать с места подозрительные предметы запрещено. В случае их обнаружения необходимо немедленно сообщить об этом сотруднику охраны или администрации.</li>
                    </ul>
                </div>
             </div>
        </div>
    </div>
</section>