.rules {
    position: fixed;
    height: 100vh;
    padding: 180px 0 98px;
    opacity: 0;
    top: 100%;
    right: 0;
    overflow: auto;
    left: 0;
    background: var(--green);
    z-index: 5;

    &.show {
        opacity: 1;
        top: 0;
    }
}

.rules__content  {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.rules__block {
    width: 49%;
}

.rules__list {
    list-style: disc;
    padding-left: 25px;

    li {
        font-family: Manrope;
        font-weight: 500;
        line-height: 24px;

        &:not(:first-of-type) {
            margin-top: 10px;
        }
    }
}

.rules__info {
    background: var(--yellow-white);
    border-radius: 24px;
    margin-bottom: 24px;
    display: flex;
    gap: 24px;
    padding: 20px 24px;

    p {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 24px;
        color: var(--black);
    }
}

.rules__icon {
    width: 80px;
    flex-shrink: 0;
    height: 80px;
    border-radius: 50%;
    background: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 767px) {
    .rules {
        padding: 100px 0 32px;
    }

    .rules__content {
        margin-top: 16px;
        flex-direction: column;
    }

    .rules__block {
        width: auto;

        &:not(:first-of-type) {
            margin-top: 16px;
        }
    }

    .rules__info {
        flex-direction: column;
        gap: 16px;

        p {
            font-size: 1rem;
            line-height: 22px;
        }
    }

    .rules__icon {
        width: 40px;
        height: 40px;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .rules__list {
        font-size: 1rem;
        line-height: 22px;
    }
}