<section class="contacts" id="contacts">
    <div class="container">
        <div class="contacts__wrapper">
            <h2 class="title">Контакты</h2>
            <div class="contacts__contact">
                <div class="contacts__block green">
                    <div class="contacts__icon">
                        {{Icon iconName="email"}}
                    </div>
                    <div class="contacts__info">
                        <span>По всем вопросам обращайтесь на почту</span>
                        <a href="mailto:tickets@sk.ru">Tickets@sk.ru</a>
                    </div>
                </div>
                <div class="contacts__block red">
                    <div class="contacts__icon">
                        {{Icon iconName="phone"}}
                    </div>
                    <div class="contacts__info">
                        <a href="tel:+79153569051">+7(915) 356-90-51</a>
                        <a href="tel:+74959560033">+7(495) 956-00-33 <span>(доб. 2838)</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer/footer}}
</section>