<section class="partners" id="partners">
    <div class="container">
        <div class="partners__wrapper">
            <h2 class="title">Партнёры</h2>
            <div class="partners__banner">
                <ul class="partners__list">
                    <li>
                        <img src="%=static=%img/general/dom.svg" alt="Дом рф">
                    </li>
                    <li>
                        <img src="%=static=%img/general/axenix.svg" alt="axenix">
                    </li>
                    <li>
                        <img src="%=static=%img/general/bank.svg" alt="совкомбанк">
                    </li>
                </ul>
                <div class="partners__slider">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img src="%=static=%img/general/dom.svg" alt="axenix">
                          </div>
                          <div class="swiper-slide">
                            <img src="%=static=%img/general/axenix.svg" alt="axenix">
                          </div>
                          <div class="swiper-slide">
                            <img src="%=static=%img/general/bank.svg" alt="совкомбанк">
                          </div>
                        </div>
                        <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>

        {{> garland/garland }}
    </div>
</section>