<section class="wait" id="wait">
    <div class="container">
        <div class="wait__wrapper">
            <div class="wait__title">
                <h2 class="title">ВАС ОЖИДАЮТ</h2>
                <div class="wait__kazan">
                    {{Icon iconName='point'}}
                    <span>Балкон 3-го этажа, зал «Казан»</span>
                </div>
                <div class="wait__controls">
                    <button class="btn">Получить билет</button>
                    <button class="btn btn_red popup-open">Программа мероприятия</button>
                </div>
            </div>
            <div class="wait__project">
                <ul class="wait__list">
                    <li class="wait__item wait__item_1">
                        {{Icon iconName="star"}}
                        <span>Спектакль<br>«Школа Снежной Королевы»</span>
                    </li>
                    <li class="wait__item wait__item_2">
                        {{Icon iconName="star"}}
                        <span>Аквагрим</span>
                    </li>
                    <li class="wait__item wait__item_3">
                        {{Icon iconName="star"}}
                        <span>Мастер-классы</span>
                    </li>
                    <li class="wait__item wait__item_4">
                        {{Icon iconName="star"}}
                        <span>Зрелищно-развлекательная<br>программа</span>
                    </li>
                    <li class="wait__item wait__item_5">
                        {{Icon iconName="star"}}
                        <span>Матер-классы от партнеров<br>Технопарка «Сколково»</span>
                    </li>
                    <li class="wait__item wait__item_6">
                        {{Icon iconName="star"}}
                        <span>Анимационная<br>программа</span>
                    </li>
                </ul>
            </div>
            <div class="wait__kazan wait__kazan_mobile">
                {{Icon iconName='point'}}
                <span>Балкон 3-го этажа, зал «Казан»</span>
            </div>
            <div class="wait__controls wait__controls_mobile">
                <button class="btn">Получить билет</button>
                <button class="btn btn_red popup-open">Программа мероприятия</button>
            </div>
        </div>
        {{> garland/garland }}
    </div>
</section>